PORT=3000
SUPABASE_URL=https://<supabase-url>.supabase.co
SUPABASE_KEY=<supabase-key>
TEST_SUPABASE_URL="https://<test-supabase-url>.supabase.co"
TEST_SUPABASE_KEY="<test-supabase-key>"
STRIPE_PUBLISHABLE_KEY=<stripe-publishable-key>
STRIPE_SECRET_KEY=<stripe-secret-key>