/* Footer container */
.footer {
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  justify-content: center;
  align-items: center;
}

/* Top footer section */
.top-footer  {
  padding-left: 150px;
  padding-right: -150px;
  justify-content: space-between;
  align-items: flex-start ;
  display: flex;
  font-family: 'Helvetica Neue', sans-serif;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
h3{
  color: #E2E7EE;
  padding-bottom: 50px;
  font-size: 1rem !important;
  font-weight: bold;
}
p{
  color: #A0AABA;
  font-size: 1rem !important;
}

.footer-div {
  margin-top: 0px !important;
  font-family: 'Helvetica Neue', sans-serif;
  padding: 10px;
  flex: 1;
  min-width: 200px; /* Adjust based on desired width */
}

.footer-div h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.footer-div p {
  margin: 5px 0;
}

/* Bottom footer section */
.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px !important;
}

.left-footer {
  padding-left: 100px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.left-footer p {
  margin-right: 15px;
  font-size: 0.9rem;
}

.social-media {
  padding-bottom: 20px;
  padding-right: 100px;
  display: flex;
  gap: 70px; /* Adjust this value to control the space between the icons */
  justify-content: space-between; /* Center the icons horizontally */
}

/* Social icon styling */
.social-icon {
  width: 25px; /* Adjust size as needed */
  height: auto;
}

/* Optional: Styling for responsiveness */
@media (max-width: 768px) {
  .top-footer {
    flex-direction: column;
  }

  .bottom-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .social-media {
    justify-content: flex-start;
  }
}
