.faq-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .faq-title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
    color: #fff;
  }
  
  .faq-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  
  .faq-item {
    border-top: 1px solid #909298;
    overflow: hidden;
    transition: all 0.3s ease;
    
  }
  .faq-icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
  }
  
  .faq-icon.rotate {
    transform: rotate(90deg); /* Rotate the ">" symbol 90 degrees to point down */
  }
  
  .faq-question {
    background-color: #0E131E;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
  }
  
  .faq-question:hover {
    color: #DE2F2A;
    }
  
  .faq-answer {
    margin-left: 20px;
    max-height: 0;
    color: #9BA2B2;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }
  
  .faq-answer.open {
    max-height: 200px; /* Adjust based on your content */
    padding-bottom: 25px;
}
  
  .faq-answer p {
    margin: 0;
  }
  