.phones-container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: -120px;
}

.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    height: auto;
    max-height: 600px;
    padding: 20px;
    margin: 0;
    border-radius: 35px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: relative;
}

.phone-border {
    position: relative;
    width: 240px;
    height: 490px;
    border-radius: 35px;
    background-color: hsla(0, 0%, 100%, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.phone-layer2, .phone-layer3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-borderleft3,
.phone-borderright3,
.phone-borderleft,
.phone-borderright {
    position: absolute;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: bottom center;
}

.phone-borderleft {
    transform: rotate(-8deg) ;
}

.phone-borderright {
    transform: rotate(8deg) ;
}

.phone-borderleft3 {
    transform: rotate(-16deg) translateX(-16px);
}

.phone-borderright3 {
    transform: rotate(16deg) translateX(16px);
}

.swirl-container {
    position: absolute; 
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -1;
}

.move-swirl img {
    width: 1000px;  
    height: 1000px;
    display: block;
}



.phone-border img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.move-cube1,
.move-cube2,
.move-cube3 {
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.move-cube1 {
    top: 80%; 
    left: 90%;
}

.move-cube2 {
    top: 15%;
    left: 89%;
}

.move-cube3 {
    top: 90%;
    right: -10%;
}


.move-bar {
    position: relative; 
    top: -550px;
    left: auto;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%; 
    margin: 50px auto; 
}

.bar-border {
    position: relative;
    width: 100%;
    max-width: 830px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.innerbar {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
}

.createshorts,
.uploadvideo,
.bartext {
    position: absolute; 
    width: 180px;
    height: auto;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.createshorts {
    top: 50%; 
    left: 62%; 
}

.uploadvideo {
    top: 50%; 
    left: 85%;
}

.bartext {
    top: 50%; 
    left: 20%; 
    width: 250px;
}
