.move-signIn {
    display: flex;
    justify-content: center; /* Centers children horizontally */
    height: 100vh;           /* Full viewport height */
    width: 100%;             /* Full viewport width */
    position: relative;      /* Creates a positioning context for absolutely positioned children */
    z-index: 10;              /* Ensures it sits above elements with a lower z-index */
    top: 100px;

}

