/* Pricing.css */

.pricing-container {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding: 20px;
    font-family: 'Helvetica Neue', sans-serif;
  }
  header h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
  }
  
  header p {
    font-size: 1.2rem;
    margin-bottom: 70px;
    max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  color: #fff;
}
  
  
  .pricing-cards {
    align-items: flex-end;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 65px;
  }
  .greenlight{
    color: #52FFF3;
    font-size: 1rem;
  }
  .graylight{
    margin-top: 50px;
    margin-bottom: 40px !important;
    color: #A7A7A9 !important;
    font-size: 1rem !important;
    font-weight: bold !important;
  }
  .pricing-card {
    margin-left: 20px !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 30px;
    padding: 20px;
    width: 300px;
    background-color: #232427;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .pricing-card:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Add a more prominent shadow */
    z-index: 10; /* Ensure the hovered card appears above others */
  }
  
  .most-popular:hover {
    transform: scale(1.1); /* Make the "Most Popular" card stand out more */
  }
  .most-popular{
    color: #fff;
    padding-left: 0.8px;
    padding-right: 0.8px;
    padding-bottom:  1px;
    padding-top: 50px;
    background:linear-gradient(to top, #F66918,#DE3129);
     
  }
  .graydark{
    color: #7B7C7D;
    font-size: 1rem !important;
  }
  .headpop{
    font-size: 1.3rem !important;
    margin-bottom: -35px;
    margin-top: -30px;
  }
  .most-popular h2{
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
  }
  .popular-wrapper{
    background: #232427;
    border-radius: 30px;
    padding: 20px;
  }

  .pricing-card h2 {
    font-weight: bold;

    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .pricing-card h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .pricing-card p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .pricing-card hr {
    margin: 30px 0;
    color: #e4e6e8;

  }
  
  .pricing-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
 
  .pricing-card ul li {
    font-size: 0.9rem;
    margin: 5px 0;
  }
  
  .pricing-card button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #fff;
    background-color: #007bff;
    border-color: #DE2F2A;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
 
  
  .popular-tag {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  .subtitle{
    margin-top: 20px;
  }
  .tick-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .features-list {
    padding-left: 10px !important;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  .feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .tickp{
    color: #fff;
  }
  .untickp{
    color: #555770;
  }

  /* montly, yearly button*/
  .pricing-toggle {
    display: inline-flex; /* Align buttons horizontally */
    border: 0px solid #ccc; /* Set the border color */
    border-radius: 8px;
    padding: 0px; 
  }
  
  .monthly-btn, .yearly-btn {
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Helvetica Neue', sans-serif;

  }
  .monthly-btn{
    justify-content: center;
    padding-left: 120px;
    padding-right: 120px;
    border-top-left-radius: 20px; /* Round only the left top corner */
    border-bottom-left-radius: 20px;
  }
  .yearly-btn{
    justify-content: center;
    padding-left: 120px;
    padding-right: 120px;
    border-top-right-radius: 20px; /* Round only the left top corner */
    border-bottom-right-radius: 20px;
  }
  
  .monthly-btn.active, .yearly-btn.active {
    background-color: #232427; /* Change background when active */
    color: white; /* Text color for active button */
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
  
  .monthly-btn.inactive, .yearly-btn.inactive {
    background-color: #39393C; /* Background color for inactive button */
    color: #747477; /* Text color for inactive button */
    font-weight: bold;
}
  
  .monthly-btn:hover{
    background-color: #DE2F2A; 
    color: #232427;
  }
  .yearly-btn:hover {
    background-color: #52FFF3; 
    color: #232427;
  }
 