.most-popular1{
    color: #fff;
    padding-left: 0.8px;
    padding-right: 0.8px;
    padding-bottom:  1px;
    padding-top: 50px;
    background:linear-gradient(to top, #52FFF3,#02A89C);
     
  }

.lightgreengradiant{
    border-color: #52FFF3 !important;

}

.lightgreenbackground{
    background:linear-gradient(to top, #52FFF3,#02A89C) !important;
}

.lightgreengradiant:hover{
    border-color: #52FFF3 !important;
    background:linear-gradient(to top, #52FFF3,#02A89C) !important;

}

.lightgreenbackground:hover{
    border-color: #52FFF3 !important;
    background: transparent !important;
}