
.parent-container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  margin-top: 0; 
  padding: 0 50px; 
  top: 10px;
  position: relative;
}

#content-header{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 10px;
}

.testimonials-section {
  min-height: 100vh;
}

.features-section {
  min-height: 100vh;
}

.faq-section {
  min-height: 100vh;
}

.footer-section {
  min-height: 100vh;
}