/* General container styling */
.testimonials {
    text-align: center;
    padding: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    margin-bottom: 100px;
  }
  
  /* Header styling */
  .testimonials-header {
    font-size: 3rem;
    margin-bottom: 70px;
    font-weight: 320;
    color: #fff;
  }
  
  /* Container for the columns */
  .testimonials-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  /* Styling for each column */
  .testimonial-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  /* Wrapper for each image */
  .testimonial-image-wrapper {
 
    display: flex;
 
  }
  
  /* Styling for the image itself */
  .testimonial-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
  }
  